fastapi
uvicorn[standard]
pydantic
supabase
requests
httpx
python-dotenv
python-multipart

numpy
pandas
scikit-learn
scipy

torch
transformers
sentence-transformers
faiss-cpu

opencv-python
PyMuPDF
qrcode
pyzbar

psycopg2-binary

groq
google-generativeai